<div class="icons">
    <button class="hamburger">
        <span></span>
        <span></span>
        <span></span>
    </button>

    <figure>
        <img class="logo" src="./assets/images/iconCompare.webp" alt="Image Logo">
    </figure>

    <button class="search">
        <img src="./assets/icons/svg_search.svg" alt="Button Search">
    </button>
</div>
<nav class="navigation__search">
    <input class="search__input" id="input_search" type="search" placeholder="Search Product">
</nav>
<nav class="navigation">
    <a href="./index.html">Home</a>
    <a href="#">Correctly Compare</a>
    <a href="#">Favorite</a>
    <a href="#">Join</a>
</nav>